button {
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
  
    padding: calc((10px + 2vmin)*0.6) calc(10px + 2vmin);
    box-shadow: 0px 4px 12px rgba(33, 33, 33, 0.2);
  
    font-size: 3vmin;
    font-weight: 700;
    font-family: inherit;
    color: rgb(255, 255, 255);
  
    cursor: pointer;
  
    transition-duration: 0.4s;
    background: #1C934C;
  }
  button:hover {
    background-color: #009c3e; /* Green */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 8px 16px 0 rgba(0,0,0,0.19);
    color: white;
  }
  .container-0-2-1 {
    background: black;
}
.section-white {
    background-color: black;
}
h1{
  color:white
}
h2{
  color:white
}
h3{
  color:white
}
h4{
  color:white
}
h5{
  color:white
}
p{
  color:white
}
li{
  color:white
}

.center3{
  text-align: center;
  color:#02fbff;
}

.color{
  color:black
}
