.text {
    padding-left: 30px;
}
.row {
    margin-left: calc(vmin* var(--bs-gutter-x)) !important;
    margin-right: calc(vmin * var(--bs-gutter-x)) !important;
}
.SubName {
    padding-left: 30px;
    color: #02fbff;
}
.SubName2 {
    padding-top: 30px;
    padding-left: 30px;
    color:#02fbff;
}
.photos {
    padding-left: 70px;
}
.container-0-2-1 {
    background: black;
}
.section-white {
    background-color: black;
}
h1{
    color:white
  }
  h2{
    color:white
  }
  h3{
    color:white
  }
  h4{
    color:white
  }
  h5{
    color:white
  }
  p{
    color:white
  }
  li{
    color:white
  }

  .center2{
    text-align: center;
    color: #02fbff;
  }