.logo{
    position: absolute;
    margin-right: 150px;
    width: 20%;
    border-radius: 100px;
}
span{
    color: white;
}
.container-0-2-1 {
    background: black;
}
.section-white {
    background-color: black;
}
h1{
    color:white
  }
  h2{
    color:white
  }
  h3{
    color:white
  }
  h4{
    color:white
  }
  h5{
    color:white
  }
  p{
    color:white
  }
  li{
    color:white
  }